/* Réinitialisation des marges et paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Universal Styles */
body {
    font-family: "Kanit";
    font-size: 16px;
    background-color: #FF9F7A;
}


/* Bar */
.bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;
    width: 100%;
    background-color: #008080;
}

.bar ul {
    display: flex;
    list-style: none;
    padding-left: 2.5rem;
    margin: 0;
}

.bar li {
    padding: 0.5rem 1.5rem;
    margin-right: 1.5rem;
}

.bar a {
    color: #FF9F7A;
    font-size: 1rem;
    text-decoration: none;
}

.bar a:hover {
    color: #FF9F7A;
    font-weight: bold;
    cursor: pointer;
    text-decoration: underline;
}

/* Intro */
.intro {
    display: flex;
    align-items: center; /* Centre verticalement */
    justify-content: center; /* Centre horizontalement */
    padding-top: 1rem;
    height: 31rem;
    width: 100%;
}

.intro h1 {
    font-size: 3rem;
    color: #FF9F7A;
    background-color: #80503C;
    height: 8rem;
    width: 100%;
    text-align: center;
    padding-top: 2rem;
}


/* Summary */
.summary {
    margin: 4rem 0;
    padding: 0 1rem;
}

.summary h2 {
    font-size: 2rem;
    color: #FFFF00;
    width: 100%;
    padding-top: 1.5rem;
}

.summary p {
    font-size: 1.5rem;
    color: #FFFFFF;
    width: 100%;
    padding-top: 1.5rem;
}

.summary a {
    font-size: 1.5rem;
    color: #551A8B;
    width: 100%;
    padding-top: 1.5rem;
}

.summary a:hover {
    cursor: pointer;
}


/* Photos */
.photos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 4rem 0;
}

.photos img {
    width: 26.5rem;
    height: auto;
    margin: 1.4rem;
}

/* Testimonials */
.testimonials {
    height: 20rem;
    width: 100%;
    margin: 4rem 0;
    padding: 1rem 1rem 0 1rem;
    background-color: #008080;
}

.testimonials h1 {
    font-size: 2.5rem;
    color: #FFFF00;
    width: 100%;
    margin: 1.6rem 0;
}

.testimonials p {
    font-size: 1.5rem;
    color: #FFFF00;
    width: 100%;
    margin: 1rem 0;
}


/* Meet Up */
.meetup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 4rem 0 3rem 0;
}

.meetup h1 {
    font-size: 2.5rem;
    color: #FFFF00;
    width: 100%;
    margin: 1.6rem 0;
    text-align: center;
}

.meetup img {
    width: 45rem;
    height: auto;
}


/* screen size <1049px */
@media screen and (max-width: 1048px) {
    /* Photos */
    .photos {
        flex-direction: column;
    }

    .photos img {
        width: 100%;
        height: auto;
        margin: 1rem 0;
    }
}